{% extends "layout.html" %}
{% block content %}

<!-- Content here -->
<!-- Begin page content -->
<div class="form-signin">
    <form method="POST" action="">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </div>
        <small class="text-muted ml-2 mt-2">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
</div>


{% endblock content %}
